# Conexión a BD (ejemplo con MySQL; ajusta según tu configuración)
DATABASE_URL=mysql+pymysql://root:@localhost/api_flask

# Clave de la app
SECRET_KEY=change_me

# Entorno (opcional; útil para debug/producción)
FLASK_ENV=development

# Puerto recomendado del microservicio (opcional, lo usaremos luego)
PORT=8002


